@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* Hello Rocco! */

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
}

h1 {
    color: #2b2e42;
}

h2 {
    font-size: 1.9em;
    color: #2b2e42;
}

.popularTimelines h2 {
    font-size: 1.9em;
    color: #4c516c;
}

.popularEvents h2 {
    font-size: 1.9em;
    color: #4c516c;
}

h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #2b2e42;
}

h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #2b2e42
}

a {
    text-decoration: none;
    color: #2B2E42;
}

address {
    font-weight: 400;
}

:focus {
    outline-color: #585A87;
}

.topGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0.8em;
}

.headerMenu img {
    max-width: 1.4em;
}

.headerLogo {
    text-align: center;
}

.headerLogo img {
    max-width: 11em;
}

.headerSearch {
    text-align: right;
    padding-left: 2em;
}

.headerSearchFrom {
    display: none;
}

.headerSearch img {
    max-width: 1.3em;
}

.headerSearch label {
    display: none;
}

.headerSearch input {
    border-radius: 0.6em;
    border: 0.1em solid #f1f2f6;
    padding-left: 0.5em;
    color: #2b2e42;
}

::-webkit-input-placeholder {
    color: #9d9db4;
}

/* Is this the best way to do this? I was thinking in having something like the Twitter's search bar https://imgur.com/CJKWqw2 with the search icon inside the input box*/

.headerSearch input[type="submit"] {
    background-image: url(/img/search.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    cursor: pointer;
    height: 16px;
    padding-left: 16px;
    vertical-align: middle;
}

.textAlignCenter {
    text-align: center;
}

.navMenu {
    display: none;
}

/* This class is not working :( I wanted to make the current page's link bold: https://imgur.com/dNDz0qI */

.navMenu a:active {
    color: #2b2e42;
}

.selected {
    color: #2b2e42;
}

.navMenu a {
    color: #585A87;
    font-weight: 700;
}

.navMenu a:hover {
    color: #b33771;
}

.navMenuicon {
    display: block;
}

.displayNone {
    display: none;
}

.masthead {
    background-color: #fef1e9;
    text-align: center;
}

.masthead img {
    margin-top: 2em;
    max-width: 13em;
}

.mastheadGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.mastheadCTA {
    font-size: 1.1em;
    text-align: left;
    font-weight: 500;
    padding: 0.9em;
    margin-bottom: 0.7em;
}

.linkDlorean {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #2b2e42;
}

.linkCTA {
    border-radius: 0.8em;
    background-color: #2b2e42;
    padding: 0.4em;
    margin-top: 0.8em;
    display: block;
    width: 10em;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.timelineBox {
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.popularTimelines {
    padding: 0.9em;
}

.popularTimelinesGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.displayEventsGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.displaySingleEventGird {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    align-items: center;
    justify-content: center;
    grid-gap: 0.3em;
}

.singleEventContent {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.3em;
}

.singleEventContentInfo {
    font-size: 1.3em;
}

.timelinesHeaderGird {
    display: grid;
    grid-template-columns: 10.5em 1fr;
    padding: 0.5em;
    grid-gap: 0.5em;
}

.displayChannelGird {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

/* How can I crop all the images to have the same size, no matter their original dimensions?: https://imgur.com/z8qXISj*/

.timelinesHeaderGirdImg {
    width: 100%;
}

.timelinesHeaderGird img {
    border-radius: 0.8em;
    width: 100%;
    max-height: 6em;
}

.timelinesHeaderGird a {
    font-weight: 700;
}

/* Not sure if this is the best to display the icons*/

.authorIcon {
    display: inline-block;
    background: url("/img/author.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.locationIcon {
    display: inline-block;
    background: url("/img/location.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.watchIcon {
    display: inline-block;
    background: url("/img/watch.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.contributorsIcon {
    display: inline-block;
    background: url("/img/contributors.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.createdIcon {
    display: inline-block;
    background: url("/img/created.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.publicIcon {
    display: inline-block;
    background: url("/img/public.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.privateIcon {
    display: inline-block;
    background: url("/img/private.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.dynamicTimeline {
    margin: 0em 0.5em 0.5em 0.5em;
    border-radius: 0.8em;
    padding: 0.8em;
    font-size: 1.1em;
}

/* Not sure how to create the timeline dots :( Like this https://imgur.com/81tR01s Here and in timeline.html*/

.dynamicTimelineLine {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 0.7em;
}

.dynamicTimelineYears {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0em;
    text-align: center;
}

.dynamicTimelineYears li {
    font-size: 0.7em;
    font-weight: 700;
    display: inline-block;
}

/* The first last child problem
.dynamicTimelineYears li:last-child {
    text-align: right;
}
.dynamicTimelineYears li:first-child {
    text-align: left;
}
*/

.frontpageTimeline time {
    text-transform: uppercase;
    font-weight: 700;
}

.purpleBG {
    background-color: #f4e1ea;
}

.purpleLine {
    background-color: #d38bac;
}

.purple {
    color: #b33771;
}

.yellowBG {
    background-color: #fef1e9;
}

.popularTimelinesEventsGird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.TimelinesEventsGird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.TimelinesEventsGird time {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

.popularTimelinesEventsGird time {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

.popularEvents {
    padding: 0.9em;
}

.event {
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 0.5em;
    text-align: left;
}

.eventsGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0.5em;
}

.eventsGird a {
    font-weight: 700;
}

.event time {
    text-transform: uppercase;
    font-weight: 700;
}

.eventImg img {
    border-radius: 0.8em;
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.eventInteractionsGrid {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}

.footer {
    padding: 1.4em;
    text-align: center;
}

.footer a {
    font-weight: 700;
}

.timeline {
    padding: 0em 0.9em 0em 0.9em;
}

.timeline h1 {
    font-size: 1.6em;
}

.timelinesGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.timelineInteractionsGrid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 20em;
    text-align: right;
    padding-right: 0.5em;
    margin-top: -0.3em;
    padding-bottom: 0.2em;
}

.timelineInteractionsGridButtons li {
    display: inline-block;
    width: 2.4em;
}

.timelineInteractionsGridButtons img {
    max-width: 2.4em;
}

.timelineMenuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
    margin: 1em 0em 0em 0em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.timelineMenuGridLineBG {
    margin-bottom: 0.5em;
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 0.5em;
    background-color: #F1F2F6;
}

/* How can I move this line when the user moves to another section of the page? https://imgur.com/7NsD0aF */

.timelineMenuGridLine {
    position: absolute;
    margin-bottom: 0.5em;
    border-radius: 0.8em;
    width: 32%;
    height: 0.5em;
    background-color: #2b2e42;
}

/* What would be the best way to create the horizontal timeline? https://imgur.com/Cl0T4th  */

.timelineEventsGridHL {
    padding-left: 4em;
}

.timelineInfoBox {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.timelineInfoBox a {
    font-weight: 700;
}

.timelineInfoBoxGrid {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
}

.channel {
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 0.5em;
    text-align: left;
    overflow-y: scroll;
    height: 30em;
    padding: 0.5em;
}

.channelChatbox {
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 0.5em;
    text-align: left;
    padding: 0.5em;
    background-color: #f4f6f7;
}

.channelChatbox label {
    display: none;
}

.channelChatboxGrid {
    display: grid;
    grid-template-columns: 80% 20%
}

.channelChatbox input {
    border-radius: 0.6em;
    border: 0.1em solid #f1f2f6;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    color: #2b2e42;
}

.channelMessageGrid1 {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.channelMessageGrid1 img {
    max-width: 3.5em;
    text-align: center;
}

.channelMessageGrid2 {
    display: grid;
    grid-template-columns: 1fr;
}

.channelMessageGrid2 time {
    color: #9d9db4;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8em;
}

.messageFromYou {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

.messageFromOthers span {
    color: #b33771;
    font-weight: 700;
}

.messageFromOthers {
    text-align: left;
}

.messageFromYou span {
    color: #585a87;
    font-weight: 700;
}

.messageFromYou img {
    display: none;
}

.channelChatbox button {
    border-radius: 0.6em;
    border: 0.1em solid #f1f2f6;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    color: #ffffff;
    margin-left: 0.2em;
    margin-right: 0.5em;
    background-color: #b5c0c8;
}

.containerBox {
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding: 0.9em;
}

.displayBoxGird {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

/*How to keep the footer at the bottom of the page always?*/
.container {
    padding: 0.9em;
    margin-bottom: 11em;
}

.loginForm li {
    margin-top: 1em;
}

.loginForm buttom {
    margin-top: 1em;
}

.loginForm input[type="text"], input[type="password"] {
    border-radius: 0.6em;
    border: 0.1em solid #f1f2f6;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #2b2e42;
    width: 100%;
}

.loginForm input[type="submit"] {
    border: 0em solid #f1f2f6;
    border-radius: 0.8em;
    background-color: #2b2e42;
    padding: 0.4em;
    margin-top: 0.8em;
    display: block;
    width: 10em;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*How to change the color of the checkbox?*/
.loginForm input[type="checkbox"] {
    color: #2b2e42;
}

@media screen and (min-width: 60em) {
    .headerLogo {
        display: grid;
        grid-template-columns: 1fr;
    }
    .navMenu {
        display: inline-block;
    }
    .navMenu li {
        display: inline-block;
        padding: 0em 0.1em 0em 0.1em;
    }
    .navMenuicon img {
        display: none;
    }
    .headerSearchFrom {
        display: block;
    }
    .headerSearch img {
        display: none;
    }
    .popularTimelines {
        font-size: 0.9em;
    }
    .event {
        font-size: 0.9em;
    }
    .mastheadGrid {
        grid-template-columns: 1fr 1fr;
    }
    .mastheadCTA {
        margin-right: 6.5em;
        font-size: 1.4em;
        text-align: center;
        font-weight: 500;
        padding: 3em 0;
    }
    .popularTimelinesGird {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .displayEventsGird {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .timeline h1 {
        font-size: 2.4em;
    }
    .dynamicTimelineYears li {
        font-size: 1em;
    }
    .dynamicTimelineMonths li {
        font-size: 1em;
    }
    .timelineInfoBoxGrid {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .timelineEventsGridHL {
        padding-left: 0em;
    }
    .timelineInteractionsGridButtons li {
        display: inline-block;
        width: 2em;
    }
    .timelineInteractionsGridButtons img {
        max-width: 2em;
    }
    .displaySingleEventGird {
        grid-template-columns: 10% 80% 10%;
        text-align: center;
    }
    .displaySingleEventGirdButtons img {
        max-width: 2em;
    }
    .displayChannelGird {
        grid-template-columns: 5% 90% 5%;
    }
    .displayBoxGird {
        grid-template-columns: 25% 50% 25%;
    }
    .TimelinesEventsGird {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .channel {
        padding: 1em;
    }
    .channelMessageGrid1 {
        display: grid;
        grid-template-columns: 5% 95%;
        font-size: 1.1em;
    }
    .channelMessageGrid1 img {
        max-width: 3em;
    }
}