@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* Hello Rocco! */

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
}

h1 {
    color: #2b2e42;
}

h2 {
    font-size: 1.9em;
    color: #4c516c;
}

h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #4c516c;
}

h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #2b2e42
}

a {
    text-decoration: none;
    color: #2B2E42;
}

address {
    font-weight: 400;
}

.topGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0.8em;
}

.headerMenu img {
    max-width: 1.4em;
}

.headerLogo img {
    max-width: 11em;
}

.headerSearch {
    text-align: right;
    padding-left: 2em;
}

.headerSearchFrom {
    display: none;
}

.headerSearch img {
    max-width: 1.3em;
}

.headerSearch label {
    display: none;
}

.headerSearch input {
    border-radius: 0.6em;
    border: 0.1em solid #f1f2f6;
    padding-left: 0.5em;
    color: #9d9db4;
}

::-webkit-input-placeholder {
    color: #9d9db4;
}

/* Is this the best way to do this?*/

.headerSearch input[type="submit"] {
    background-image: url(/img/search.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    cursor: pointer;
    height: 16px;
    padding-left: 16px;
    vertical-align: middle;
}

.textAlignCenter {
    text-align: center;
}

.navMenu {
    display: none;
}

/* This class is not working :(*/

.navMenu a:active {
    font-weight: 700;
}

.navMenu a:hover {
    color: #b33771;
}

.navMenuicon {
    display: block;
}

.displayNone {
    display: none;
}

.masthead {
    background-color: #fef1e9;
    text-align: center;
}

.masthead img {
    margin-top: 2em;
    max-width: 13em;
}

.mastheadGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.mastheadCTA {
    font-size: 1.1em;
    text-align: left;
    font-weight: 500;
    padding: 0.9em;
    margin-bottom: 0.7em;
}

.linkDlorean {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #2b2e42;
}

.linkCTA {
    border-radius: 0.8em;
    background-color: #2b2e42;
    padding: 0.4em;
    margin-top: 0.8em;
    display: block;
    width: 10em;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.frontpageTimeline {
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.popularTimelines {
    padding: 0.9em;
}

.popularTimelinesGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.popularEventsGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.popularTimelinesHeaderGird {
    display: grid;
    grid-template-columns: 10.5em 1fr;
    padding: 0.5em;
    grid-gap: 0.5em;
}

/* How can I crop all the images to have the same size, no matter their original dimensions?*/

.popularTimelinesHeaderGirdImg {
    width: 100%;

}

.popularTimelinesHeaderGird img {
    border-radius: 0.8em;
    width: 100%;
    max-height: 6em;
}

.popularTimelinesHeaderGird a {
    font-weight: 700;
}

/* Not sure if this is the best to display the icons*/

.authorIcon {
    display: inline-block;
    background: url("/img/author.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.locationIcon {
    display: inline-block;
    background: url("/img/location.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.watchIcon {
    display: inline-block;
    background: url("/img/watch.svg") no-repeat;
    height: 0.9em;
    width: 0.9em;
    padding-left: 1.1em;
}

.dynamicTimeline {
    margin: 0em 0.5em 0.5em 0.5em;
    border-radius: 0.8em;
    padding: 0.8em;
    font-size: 1.1em;
}

/* Not sure how to create the timeline dots :( */

.dynamicTimelineLine {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 0.7em;
}

.frontpageTimeline time {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
}

.purplebg {
    background-color: #f4e1ea;
}

.purpleline {
    background-color: #d38bac;
}

.purple {
    color: #b33771;
}

.popularTimelinesEventsGird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.popularEvents {
    padding: 0.9em;
}

.event {
    border: 0.1em solid #f1f2f6;
    border-radius: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 0.5em;
}

.eventsGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0.5em;
}

.eventsGird a {
    font-weight: 700;
}

.event time {
    text-transform: uppercase;
    font-weight: 700;
}

.eventImg img {
    border-radius: 0.8em;
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.eventInteractionsGrid {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}

.footer {
    padding: 1.4em;
    background-color: #fef1e9;
    text-align: center;
}

.footer a {
    font-weight: 700;
}

@media screen and (min-width: 70em) {
    .headerLogo {
        display: grid;
        grid-template-columns: 1fr;
    }
    .navMenu {
        display: inline-block;
    }
    .navMenu li {
        display: inline-block;
    }
    .navMenuicon img {
        display: none;
    }
    .headerSearchFrom {
        display: block;
    }
    .headerSearch img {
        display: none;
    }
    .popularTimelines {
        font-size: 0.9em;
    }
    .event {
        font-size: 0.9em;
    }
    .mastheadGrid {
        grid-template-columns: 1fr 1fr;
    }
    .mastheadCTA {
        margin-right: 6.5em;
        font-size: 1.4em;
        text-align: center;
        font-weight: 500;
        padding: 3em 0;
    }
    .popularTimelinesGird {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .popularEventsGird {
        grid-template-columns: 1fr 1fr 1fr;
    }
}